    .verto-body {
        display: grid;
        grid-template-areas: 'menu header header header header header rightgap' 
                             'menu main main main main main rightgap';
        grid-template-columns: 200px auto auto auto auto 30px;
        grid-template-rows: 100px calc(100vh - 100px);
        height: 100vh;
        gap: 20px;
    }
    
    .verto-body-narrow {
        display: grid;
        grid-template-areas: 'menu header header header header header rightgap'
                             'menu main main main main main rightgap';
        grid-template-columns: 50px auto auto auto auto 30px;
        grid-template-rows: 80px calc(100vh - 80px);
        height: 100vh;
        gap: 20px;
    }
    
    .verto-header {
        grid-area: header;
        min-height: 10vh;
    }
    
    .verto-sidebar {
        grid-area: menu;
        background-color: #f2f3f9;
    }
    
    .verto-content {
        grid-area: main;
        /* background-color: blue */
    }