<style>
    .verto-body {
        display: grid;
        grid-template-areas:
            'header header header header header header'
            'menu main main main main main'
        ;
        grid-template-rows: 80px calc(100vh - 80px);
        height: 100vh;
    }

    .verto-header {
        grid-area: header;
        min-height: 10vh;
    }

    .verto-sidebar {
        grid-area: menu;
        background-color: aqua;
    }

    .verto-content {
        grid-area: main;
        background-color: blue
    }

</style>


<div class="verto-body">
    <div class="verto-header">Header</div>
    <div class="verto-sidebar">
        <app-side-bar></app-side-bar>
    </div>
    <div class="verto-content">
        <ng-content>

        </ng-content>
    </div>
</div>
