.l-navbar {
    height: 100vh;
    padding: 0.5rem 0 0 0;
}

.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    padding-left: 15px;
    flex-wrap: nowrap;
}

.nav_logo {
    margin-bottom: 2rem;
}

.nav_logo,
.nav_link {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    column-gap: 0.75rem;
    padding: 7px 0 7px 10px;
    justify-content: start;
}

.nav_link {
    color: #000;
    margin-bottom: 12px;
    text-decoration: none;
    font-size: 14px;
}

.nav_icon {
    font-size: 1.0rem;
}

.nav_logo-name {
    color: var(--white-color);
    font-weight: 700;
}

.nav-active {
    background-color: white;
    border-radius: 5px 0px 0px 5px;
}

.sidebar-arrow {
    text-align: end;
    padding-right: 15px;
}

.sidebar-arrow i {
    font-weight: bold;
}

.sidebar-floor {
    text-align: center;
    font-size: 11px;
    padding: 0 12px 20px 0;
}

.sidebar-floor a {
    text-decoration: none;
}

.admin-label {
    font-size: 25px;
    font-weight: bold;
}

.btn-arrow {
    width: 20px;
    height: 20px;
    background: #fff;
    position: relative;
    border-radius: 5px;
    cursor: pointer;
}

.btn-arrow i {
    position: absolute;
    left: 3px;
    font-size: 15px;
}