<div class="l-navbar show" id="nav-bar">
    <nav class="nav">
        <div>
            <a href="#" class="sidebar_logo">
                <img src="../../../assets/logo.png" alt="Logo" width="100" />
            </a>
            <p class="sidebar_link admin-label">Admin
                <span class="btn-arrow">
                    <i class="bi bi-chevron-down"></i>
                </span>
            </p>
            <div class="sidebar_list">
                <a href="#" class="sidebar_link" (click)="handleNavLinkClick($event)">
                    <i class="bi bi-printer-fill"></i>
                    <span class="sidebar_name">Units</span>
                </a>
                <a href="#" class="sidebar_link" (click)="handleNavLinkClick($event)">
                    <i class="bi bi-bezier"></i>
                    <span class="sidebar_name">Pathways</span>
                </a>
                <a href="#" class="sidebar_link" (click)="handleNavLinkClick($event)">
                    <i class="bi bi-grid-1x2-fill"></i>
                    <span class="sidebar_name">Templates</span>
                </a>
                <a href="#" class="sidebar_link" (click)="handleNavLinkClick($event)">
                    <i class="bi bi-people-fill"></i>
                    <span class="sidebar_name">Users</span>
                </a>
                <a href="#" class="sidebar_link active" (click)="handleNavLinkClick($event)">
                    <i class="bi bi-person-fill"></i>
                    <span class="sidebar_name">Role</span>
                </a>
                <a href="#" class="sidebar_link" (click)="handleNavLinkClick($event)">
                    <i class="bi bi-calendar3"></i>
                    <span class="sidebar_name">Appointments</span>
                </a>
            </div>
        </div>
        <div class="sidebar-arrow">
            <i class="bi bi-chevron-left" (click)="handlelHeaderToggle($event)"></i>
        </div>
        <div class="sidebar-floor">
            <a href="#">Verto flow support</a>
            <p>aks-apppool-3724545544</p>
            <p>powerd by <a href="#">verto health</a></p>

            <a href="#">Privacy Policy</a>
        </div>

    </nav>
</div>