        /* search and  filter portion */
        
        .search-filter {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-end;
        }
        
        .search-filter>* {
            width: unset;
        }
        
        .search {}
        
        .filter {}
        
        .star {}
        
        .selected-margin {
            margin: 0 12px;
        }
        
        .search input {
            height: 40px !important;
        }
        
        .search i {
            top: 10px !important;
            left: 20px !important;
        }
        
        .verto-paginator {
            display: flex;
            flex-wrap: nowrap;
            width: 95%;
            background-color: var(--verto-pagination-background);
            margin: 10px auto;
            border-radius: 10px;
            gap: 5px
        }
        
        .verto-paginator .mat-checkbox {
            margin: 20px;
        }
        
        .verto-paginator span {
            height: 40px;
            width: 80px;
            padding: 15px;
            margin-top: 10px;
            cursor: pointer;
        }
        
        .verto-paginator span:hover {
            background-color: var(--verto-pagination-background);
        }
        
        .mat-paginator {
            background-color: var(--verto-pagination-background) !important;
            width: fit-content;
        }
        
        table {
            width: 100%;
        }
        
        td.mat-column-star {
            width: 20px;
            padding-right: 8px;
        }
        
        .star-active {
            color: rgb(240, 167, 77);
        }
        
        .star-inactive {
            color: bisque;
        }
        
        th.mat-sort-header-sorted {
            color: black;
        }
        
        .verto-danger {
            background-color: var(--verto-danger);
            color: #a93c3c;
        }
        
        .verto-primary {
            background-color: var(--verto-primary);
            color: #2e5440;
        }
        
        .verto-favourite {
            background-color: var(--verto-favourite);
            color: #2e5440;
        }
        
        .badge {
            padding: 8px 18px;
            border-radius: 0.3rem;
        }
        /* search input */
        
        .form {
            position: relative
        }
        
        .form .fa-search {
            position: absolute;
            top: 20px;
            left: 20px;
            color: #9ca3af
        }
        
        .form span {
            position: absolute;
            right: 17px;
            top: 13px;
            padding: 2px;
            border-left: 1px solid #d1d5db
        }
        
        .left-pan {
            padding-left: 7px
        }
        
        .left-pan i {
            padding-left: 10px
        }
        
        .form-input {
            height: 55px;
            text-indent: 33px;
            border-radius: 10px
        }
        
        .form-input:focus {
            box-shadow: none;
            border: none
        }