@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
* {
    box-sizing: border-box;
}

:root {
    --verto-primary: #d4edda;
    --body-font: 'Nunito', sans-serif;
    --verto-danger: #ffe6e6;
    --verto-blue: #2c77f0;
    --verto-favourite: #d0e4ff;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}